@import '../../../assets/scss/mixins/utils';
@import '../../../assets/scss/mixins/fonts';

.no-filter-selected, .no-data-message {
  position: absolute;
  top: 0;
  left: 0;
  @include flexbox();
  @include font-size(16);
  text-align: center;
}