$bg-color: rgb(255, 255, 220);
$font-primary: Arial, sans-serif;

$breakpoint-mobile: 320px;
$breakpoint-phablet: 420px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;
$breakpoint-xdesktop: 1200px;